/* transform: matrix(scaleX, skewY, skewX , scaleY , translateX, translateY); */


.social{
    display: flex;
    width: 600px;
    justify-content: space-between;
    background-color: lightgrey;
    border-radius: 50px;
}

.like, .comment, .share{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px 0;
}


.like, .comment{
    border-right: 1px solid black;
}

.like:hover, .comment:hover, .share:hover{
    background-color: rgb(148, 148, 148);
}

.like{
    border-radius: 50px 0 0 50px;
}

.share{
    border-radius:   0 50px 50px 0;
}

.reaction{
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 360px;
    background-color: rgb(170, 170, 176);
    padding: 10px;
    border-radius: 20px;
    opacity: 0;
    position: absolute;
    top: 50px;
    left: 10px;
    transition: opacity 0.5s ease-in-out;
}

.reaction i{
    color: rgb(255, 0, 0);
}

.reaction i:hover{
    font-size: 30px;
}


.social .like:hover .reaction{
    opacity: 1;
}

.reaction>div{
    display: flex;
    justify-content: center;
    width: 100%;
}