section.explore{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

section.explore .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

section.explore .container .title{
    font-size: 64px;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
}

section.explore .container .text{
    font-size: 20px;
    font-weight: 100;
    text-align: center;
}

section.explore .container .cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

section.explore .container .cards .item{
    display: flex;
    align-items: end;
    width: 390px;
    height: 586px;
    margin-top: 80px;
    font-size: 32px;
    padding: 0 20px 39px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section.explore .container .cards .item:nth-child(1){
    background-image:linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url(./../assets/images/123.jpg);
}

section.explore .container .cards .item:nth-child(2){
    background-image:linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url(./../assets/images/3f8d3833-72b3-3072-3d51-57dad152da82.jpg);
}

section.explore .container .cards .item:nth-child(3){
    background-image:linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url(./../assets/images/4a1d4947-fd02-e665-4d57-deac20b3eb39.jpg);
}