@media (min-width:0px) and (max-width:900px) {
    
    section.explore .container .cards{
        flex-direction: column;
        margin-top: 50px;
    }
    section.explore .container .cards .item{
        width: 80%;
    }
}