@import url("//cdn.web-fonts.ge/fonts/bpg-nino-mtavruli/css/bpg-nino-mtavruli.min.css");

:root{
    --bgcolor:#040307;
    --mainfont:"BPG Nino Mtavruli", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: var(--mainfont);
    color: white;
}

body{
    background-color: var(--bgcolor);
}

section{
    width: 100%;
}

